{% extends 'base.html' %}

{% block content %}
    <h1>À propos</h1>
    <p>Strava from Wish est l'idée que j'ai eu il y a 8
        mois dans le cadre d'un projet de programmation
        pour l'école. En théorie, le programme sera
        capable de prendre un fichier GPX (un type de
        fichier qui contient un parcours géographique)
        et l'afficher dans un environnement satellite 3D.
        En fait, ça serait presque un clone de
        l'application "Relive". Étant quelqu'un avec très
        peu d'expérience en programmation, je n'étais pas
        pleinement conscient de la magnitude de cette
        idée. C'est donc pour ça, et aussi une touche de
        découragement et manque de motivation, que cette
        idée demeure un vestige digital de cette époque
        de ma vie. Les lignes de codes qui composent ce
        projet continueront d'exister dans les serveurs
        de Django, dormantes. Goodbye World.</p>
{% endblock %}